---
layout: defaults
title: My Notes Collection
---

<h1>All Notes</h1>

<ul>
{%- comment -%} 
1. Get all files located within the "pages" folder
{%- endcomment -%}
{% assign all_files = site.pages | where_exp: "item", "item.path contains 'pages/'" %}

{%- comment -%} 
2. Group files by the subfolder name (e.g., kelas_7, kelas_8)
{%- endcomment -%}
{% assign grouped_notes = all_files | group_by_exp: "item", "item.path | split: '/' | slice: 1" %}

{% for group in grouped_notes %}
  {%- comment -%} 
    Ensure we only display groups that have a name and aren't the root 'pages' folder 
  {%- endcomment -%}
  {% if group.name != "" and group.name != nil and group.name != "pages" %}
    
    <section class="note-group">
      <h3>{{ group.name | replace: "_", " " | capitalize }}</h3>
      
      <ul>
        {% for note in group.items %}
          {%- comment -%} 
            Only show the link if the page has a title and isn't an index file
          {%- endcomment -%}
          {% if note.title and note.url != group.items[0].dir %}
            <li>
              <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    
  {% endif %}
{% endfor %}
</ul>